<div class="tablet-container" *ngIf="!Loader">
  <div class="language-buttons">
    <button (click)="changeLanguage('geo')">
      <img src="assets/flag-geo.png" alt="Geo Flag">
    </button>
    <button (click)="changeLanguage('eng')">
      <img src="assets/flag-eng.png" alt="Eng Flag">
    </button>
    <button (click)="changeLanguage('rus')">
      <img src="assets/flag-rus.png" alt="Rus Flag">
    </button>
  </div>
  <hr>
  <div class="title">
    <h3>{{ currentTranslations.welcomeMessage }}</h3>
    <p>{{ currentTranslations.selectServiceMessage }}</p>
  </div>
  <div class="service-buttons">
    <button (click)="selectService('service1')">{{ currentTranslations.service1Label }}</button>
    <button (click)="selectService('service2')">{{ currentTranslations.service2Label }}</button>
    <button (click)="selectService('service3')">{{ currentTranslations.service3Label }}</button>
  </div>

</div>
<div class="loader-container" *ngIf="Loader">
  <div class="gear">
    <img src="https://assets.codepen.io/6093409/gear.svg.png" alt="Loader " />
  </div>
</div>

<button (click)="requestFullScreen()"></button>
